
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [ ]:
s='Hi there yogesh'

In [ ]:
s.split()

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
'The diameter of {} is {} kilometers'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def fun1(email):
    return email.split('@')[1]

In [ ]:
fun1('abcd1234@gmail.com')

'gmail.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(s1):
    return 'dog' in s1

In [ ]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countDog(s1):
    count=0
    for i in s1.split():
       if(i=='dog'):
           count=count+1 
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [ ]:
seq = ['soup','dog','salad','cat','great']

In [ ]:
list(filter(lambda i:i[0]=='s',seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed=speed-5
    else:
        speed=speed
    if speed>=80:
        print("No ticket")
    elif speed>=60:
        print("small ticket")
    else:
        print(" big ticket")

In [ ]:
caught_speeding(81,True)

'Small Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [ ]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->5678

In [ ]:
def NegNum(str):
    mylist = []
    for i in str:
        if i.isdigit():
            mylist.append(i)
    num = int("".join(mylist))
    if str.startswith('-'):
        return -num
    return num

In [ ]:
NegNum('-123abcd')

-123

In [ ]:
NegNum("abcd456")

456

In [ ]:
NegNum("fdhfh78dsd89")

7889

In [ ]:
NegNum("56dssd78")

5678

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [ ]:
def fun(s):
    while(True):
        p=s[::-1]
        e=int(p)
        t=int(s)
        q=e+t
        q=str(q)
        if q==q[::-1]:
            print(q)
            print("Given Number ",q," is Palindrome.")
            return
        else:
            print(q)
            s=str(q)
            
num=input("Enter Any Number : ")
fun(num)

Enter Any Number : 22
44
Given Number  44  is Palindrome.

In [ ]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [ ]:
def find_five_digit():
        for a in range(0,9):
            b=a-2 
            c=b-2
            d=c-2
            e=d+2
            if((a+b+c+d+e==19) and  (a==c+d+e)):
                print(a, end="")
                print(b,end="")
                print(c,end="")
                print(d,end="")
                print(e)

In [ ]:
find_five_digit()

75313

# Great job!